/* Basic Reset for CSS */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
  /* font-family: sans-serif; */
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
  padding: 0;
}
/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

html {
  font-size: 62.5%;
}
/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  letter-spacing: -0.01em;
  font-family: "Kumbh Sans", sans-serif;
  padding: 0 8.4rem;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* MAIN PAGE */

main {
  margin: 0 auto;
  width: 100%;
  max-width: 1440px;
}

.main-page-header {
}
.links {
}
.link {
}
.cart-image {
}
.product-grid {
}
.product-images {
}
.main-image {
}
.thumbnail-images {
}
.product-description {
}
.company-name {
}
.item-name {
}
.item-description {
}
.item-price {
}
.discount-price {
}
.discounted-price {
}
.discounted-percent {
}
.undiscounted-price {
}
.amount-cart {
}
.amount {
}
.add-to-cart {
}
.attribution {
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
